{% load staticfiles %}

<html ng-app="bookmarkApp">
<head>
  <title>Bookmark Manager</title>
  <link rel="stylesheet" type="text/css" href="{% static 'bookmark_manager/vendor.css' %}" />
</head>

<body ng-controller="AppController as appCtrl" layout="column">

  <navbar></navbar>

    <div layout="row" flex>

        <div layout="column" flex id="content">

            <addbookmark></addbookmark>

            <bookmarklist></bookmarklist>

        </div>
    </div>

  <script type="text/javascript" src="{% static 'bookmark_manager/vendor.js' %}"></script>
  <script type="text/javascript" src="{% static 'bookmark_manager/templates.js' %}"></script>
  <script type="text/javascript" src="{% static 'bookmark_manager/index.js' %}"></script>
</body>
</html>
