<div ng-controller="AddBookmarkController as addBookmarkCtrl">
    <md-card class="md-inline-form">
        <md-card-content>
            <form>
                <div layout="column">
                    <h3>Add Bookmark</h3>
                    <div layout="row">

                        <md-input-container>
                            <label>Name</label>
                            <input required="" md-maxlength="30" name="name"
                            ng-model="addBookmarkCtrl.newBookmark.name">
                            <div ng-messages="addBookmarkCtrl.newBookmark.name.$error">
                                <div ng-message="required">This field is required.</div>
                                <div ng-message="md-maxlength">The name must be less than 30 characters long.</div>
                            </div>
                        </md-input-container>

                        <md-input-container>
                            <label>URL</label>
                            <input required="" md-maxlength="100" name="url"
                            ng-model="addBookmarkCtrl.newBookmark.url">
                            <div ng-messages="addBookmarkCtrl.newBookmark.url.$error">
                                <div ng-message="required">This field is required.</div> //TODO: add url validation and error
                            </div>
                        </md-input-container>

                    </div>

                    <md-button class="md-raised md-primary" ng-click="addBookmarkCtrl.save()" aria-label="save">Save</md-button>

                </div>
            </form>
        </md-card-content>
    </md-card>
</div>
